*{
  margin: 0;
  padding: 0;
}

.center{
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box
}


header{
 width: 100%;
 background: #111;
 height: 70px;
}

img{
    object-fit: cover;
    width: 700px;
    height: 700px;
}

body{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;

    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #111;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 700px;
    height: 700px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0006);

}

#wrap{
    text-align: center;
}

#menu{
    font-size: 30px;
    color: white; 
}