body  {
    margin: 0;
    padding: 0;
    background: rgb(81,79,111);
    background: radial-gradient(circle, rgba(81,79,111,1) 0%, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 100%);
}

.logo{
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    overflow: hidden;
    color: white;
    display: block;
    text-align: center; 
}

.graphiclogo{
    font-size: 70px;
    color: #A9A9A9;
    padding-bottom: 0px;
}

.lowerlogo{
    font-size: 30px;
    font-family: serif;
    margin-left: 20px;
}


.carousel{
    transform: translateY(-150px);
    height: 1000px;
    perspective: 600px;
}

.carousel .carousel-item{
    width: 400px;
}

.carousel .carousel-item  img{
    width: 100%;
}

.footer{
    background-color: black;
    color: white;
    padding-top: 40px;
    padding-bottom: 20px;
}
